{% extends 'main.html' %}

{% block body_block %}
<div class="container" style="width:35%;margin-top: 75px;margin-bottom: 1.5rem;">
    <h2>Fund Transfer Successful!</h2>
    <div class="alert alert-success">
        <p>You have successfully transferred {{ amount }} to {{ recipient_name }}.</p>
        <p>Your remaining balance is: {{ balance }}</p>
    </div>
    
    <div style="margin-left: 115px; display: inline;">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        <a href="{% url 'transaction_history' %}" class="btn btn-secondary"
          >View History</a>
    </div>   
</div>
{% endblock %}
