{% extends 'main.html' %}

{% block body_block %}
<div class="container mt-5">
    <h2 style="margin-bottom: 1rem;">Account Details</h2>

    {% if customer %}
        <table class="table table-bordered table-striped" style="border-color: navy; color: black;">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ customer.Name }}</td>
                </tr>
                <tr>
                    <td>Account Number</td>
                    <td>{{ customer.Cust_ID }}</td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>{{ customer.Email }}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{ customer.Phone_no }}</td>
                </tr>
                <tr>
                    <td>Account Created On</td>
                    <td>{{ customer.created }}</td>
                </tr>
                <tr>
                    <td>Last Updated</td>
                    <td>{{ customer.updated }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No account details found.</p>
    {% endif %}
</div>
{% endblock %}
